body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    margin: 0;
}

.catalog-button, .home-button, .buy-button {
    background-color: #ff0022;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.catalog-button, .buy-button {
    margin-right: 10px;
}

.main {
    padding: 20px;
}

.recommendation {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #333;
    text-align: center;
}

.recommendation .bag-image {
    width: 200px;
    margin-bottom: 10px;
}

.bag-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bag-category {
    background-color: #666;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background-color: #444;
    padding: 10px;
    text-align: center;
	
}

.P ul li{
color:#4f4843;
front-size: 32px;
text-align:left;
margin:10px 10px;
border-radius: 15px;
width: 1055px;
height: 120px;
background:white;
padding:10px;
}

}
.P ul {
list-style: none;
}